@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/landing.css"/>
</head>
<body>
    <header class="nav">
        <div class="nav__inner">
            <span><i class="fas fa-map-marker-alt"></i>&nbsp;MarketMap</span>
        </div>
    </header>
    <section>
        <div class="mb-4 text-justify transformable">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
        </div>
        <!-- <div><hr></div> -->
        <div class="mb-4 transformable">
            <img src="~/images/landing_img2.png" class="rounded">
        </div>
        <div class="mb-4 text-justify transformable">
            Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
        </div>
        <div class="text-left">
            <ul class="list-unstyled text-justify">
                <li class="mb-4 transformable">
                    <i class="fas fa-check"></i>&nbsp;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                </li>
                <li class="mb-4 transformable">
                    <i class="fas fa-check"></i>&nbsp;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                </li>
                <li class="transformable">
                    <i class="fas fa-check"></i>&nbsp;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                </li>
            </ul>
        </div>
    </section>
    <footer class="d-flex justify-content-center">
        <div>
            <span>
                Download fully-functional <i class="fas fa-mobile"></i></i>
                <a href="https://play.google.com/store" target="_blank">android application</a>
                <br><br>or<br><br>visit out stylish <i class="far fa-map"></i> <a href="@Url.Action("Index", "Home")">website</a>
            </span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="~/js/jquery.visible.min.js"></script>
    <script src="~/js/landing.js"></script>
</body>
</html>